<style>
    .container {
        direction: ltr;
        min-height: 450px;
        background-color: #f8f9fa;
        font-size: 18px;
        padding: 50px;
    }

    .warning {
        background-color: #faebbb;
        border-left: 5px solid #ffc107;
        padding: 5px;
    }

    .verify-btn {
        display: block;
        width: 175px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        margin: 5px auto;
        transition-duration: 300ms;
        background-color: #5353e6;
        color: white;
        border: 2px solid #5353e6;
        border-radius: 5px;
        padding: 5px;
    }

    .verify-btn:hover {
        color: #5353e6;
        background-color: white;
    }
</style>
<div class = "container">
    <h1>Dear {{ fullName }}</h1>
    <p>You have been requested to Sign-Up to our website, Please, verify your email address!</p>
    <p class = "warning">You have 2 hours to complete this process!</p>
    <a class="verify-btn" href="{{ verifyLink }}">
        VERIFY NOW
    </a>
    <br><br><br>

    <p style="color: #dc3545">If you haven't asked to <b>Sign-Up</b> to our website, Please, ignore this mail.</p>
</div>