<style>
    .container {
        direction: ltr;
        min-height: 450px;
        background-color: #f8f9fa;
        font-size: 18px;
        padding: 50px;
    }

    .warning {
        background-color: #faebbb;
        border-left: 5px solid #ffc107;
        padding: 5px;
    }

    .reset-password-btn {
        display: block;
        width: 200px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        margin: 5px auto;
        transition-duration: 300ms;
        background-color: #ffc107;
        color: white;
        border: 2px solid #ffc107;
        border-radius: 5px;
        padding: 5px;
    }

    .reset-password-btn:hover {
        color: #ffc107;
        background-color: white;
    }
</style>
<div class = "container">
    <h1>Hi {{ fullName }}</h1>
    <p>You have been requested to reset your password in our website.</p>
    <p>In order to reset your password, Please click on the below link!</p>
    <p class = "warning">You have 2 hours to complete this process!</p>
    <a class = "reset-password-btn" href="{{ resetPasswordLink }}">
        RESET PASSWORD NOW
    </a>
    <br><br><br>

    <p style="color: #dc3545">If you haven't asked to reset your password Please <a href = "{{ contactLink }}"><b>contact us</b></a>  immediately!</p>
</div>